{% extends "base.html" %}
{% block content %}
    <div class="alert alert-success" role="alert">
        最近的聊天室
    </div>
    <div id="chat" class="list-group">
        {% for room in rooms %}
            <a href="/room/{{ room.label }} " class="list-group-item list-group-item-action flex-column align-items-start">
                <p class="mb-1">{{ room.label }}</p>
                <small class="mb-1">{{ room.updateTime|date:"m月d日 H:i" }}</small>
            </a>
        {% endfor %}
    </div>

{% endblock %}
{% block afterbody %}
    <script type="text/javascript">

        $("#sendButton").on("click", function (event) {
            $("#room_id_form").submit();
            return false;
        })
    </script>
{% endblock %}
